name: build32

on:
  workflow_dispatch:
    inputs:
      packages:
        description: 'Packages to build (space-delimited)'
        required: true
      repository:
        description: 'Repository to check out'
        required: true
        default: msys2/MSYS2-packages
      ref:
        description: 'Ref of repository to check out'
        required: true
        default: master
      install_extras:
        description: 'Extra packages to install'
      dont_upload:
        description: 'Don''t upload artifacts to release'
        type: boolean
        required: false
      release_name:
        description: 'Release/tag to upload to'
        required: true
        default: repo
      repo_db_name:
        description: 'Name of the pacman database'
        required: true
        default: build32

env:
  PACMAN_REPOSITORY_NAME: ${{ github.event.inputs.repo_db_name }}
  DEPLOY_PROVIDER: tip
  PACMAN_REPOSITORY_URL: https://github.com/${{ github.repository }}/releases/download/${{ github.event.inputs.release_name }}
  MSYS: nonativeinnerlinks

jobs:
  build32:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.repository }}
          ref: ${{ github.event.inputs.ref }}
          path: r

      - uses: jeremyd2019/setup-msys2@v2_build32
        with:
          msystem: MSYS
          install: git base-devel msys2-devel pactoys ${{ github.event.inputs.install_extras }}
          update: true
          bitness: 32

      - name: Query MSYS2 root dir
        id: msys2
        shell: powershell
        run: Write-Output ('rootdir={0}' -f (msys2 -c 'cygpath -w /')) >> $Env:GITHUB_OUTPUT

      - name: subst
        shell: cmd
        run: |
          SUBST T: .

      - name: Build32
        run: cd /t/ && ./build32.sh ${{ github.event.inputs.packages }}

      - name: un-subst
        if: ${{ always() }}
        shell: cmd
        continue-on-error: true
        run: |
          SUBST T: /D

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: packages
          path: artifacts/
  staging:
    permissions:
      contents: write
    needs: [ build32 ]
    runs-on: ubuntu-latest
    if: ${{ ! github.event.inputs.dont_upload || github.event.inputs.dont_upload == 'false' }}
    steps:

    - uses: actions/download-artifact@v4

    - name: Upload to repo
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh release upload "${{ github.event.inputs.release_name }}" packages/* --clobber -R "${{ github.repository }}"
